html{
    font-family: 'Raleway', 'Arial', sans-serif;
    line-height: 25px;
}
.paragraph{
    display: inline;
    color: white;
}
/*-----Navigator-----*/
.navigator{
    background-color: black;
    padding: 20px 20px;
}
.navigating:link,.navigating:visited{
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    transition: color 1s;
}
.navigating:hover,.navigating:active{
    color: red;
}
.author{
    float: left;
}